.elementor-606 .elementor-element.elementor-element-b2162d9 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-606 .elementor-element.elementor-element-d4fa441 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-606 .elementor-element.elementor-element-a6e3b53 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-606
  .elementor-element.elementor-element-c5859aa
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-606 .elementor-element.elementor-element-a4ddb51 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
